<!DOCTYPE html>
<html>
<head>
    <title>Perry's Psychotherapy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="lib/angular-translate.js"></script>


    <script src="js/route.js"></script>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/perry.css">
</head>

<body ng-app="myApp">

    <div class="w3-top">
        <div class="w3-bar w3-white w3-card">
            <a href="#!/" class="w3-bar-item w3-button w3-padding-large" style="margin-left:15%">{{'HOME' | translate }}</a>
            <a href="#!/main" class="w3-bar-item w3-button w3-padding-large">{{'OUR_MISSION' | translate }}</a>
            <a href="#!/menu" class="w3-bar-item w3-button w3-padding-large">{{'BEING_SPECIAL' | translate }}</a>
            <a href="#!/about" class="w3-bar-item w3-button w3-padding-large">{{'PSYCHOTHERAPY' | translate }}</a>
            <a href="#!/about" class="w3-bar-item w3-button w3-padding-large">{{'ABOUT_ME' | translate }}</a>
            <a href="#!/about" class="w3-bar-item w3-button w3-padding-large">{{'BOOK_A_SESSION' | translate }}</a>
            <div class="w3-dropdown-hover w3-hide-small"  style="float:right;">
                <button class="w3-padding-large w3-button" title="More">Language <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4" ng-controller="TranslateController">
                    <a href="#" class="w3-bar-item w3-button" ng-click="changeLanguage('en')">English</a>
                    <a href="#" class="w3-bar-item w3-button" ng-click="changeLanguage('cht')">繁體中文</a>
                    <a href="#" class="w3-bar-item w3-button" ng-click="changeLanguage('chs')">简体中文</a>
                    <a href="#" class="w3-bar-item w3-button" ng-click="changeLanguage('jp')">日本語</a>
                </div>
            </div>
        </div>
    </div>




    <div ng-view style="margin-top:46px"></div>


</body>
</html>
