
	<div ng-controller="HomePage">

		<header class="v-header container">
			<div class="fullscreen-video-wrap">
				<video id="homeVideo" class="fadeIn1" autoplay muted loop >
					<source src="video/mist.mp4" type="video/mp4">
				</video>
			</div>
			<div class="header-overlay"></div>
			<div class="perry-content fadeIn2">
				<h1 class="perry-center font-1">Alchemy Academy</h1>
				<p class="perry-center">Psychotherapy & Counselling</p>
			</div>


			<section class="scroll-down-button scroll-button-button-animation fadeIn2" ng-click="goToID('section-a')">
				<a href=""><span></span>Scroll</a>
			</section>

		</header>


		<section id="section-a" class="section">
			<div class="container" style="width: 100%">
				<h2 style="padding-bottom: 50px">
					<p>We touch our heart, feel the richness</p>
					<p>We wish to live with our pure heart as it is</p>
					<p>We do psychotherapy</p>
				</h2>

				<div class="row font-2">
					<div class="col-lg-7 tabel-line">
						<div>
							<img class="fit-img" src="img/about.jpg"></img>
						</div>

						<div style="text-align: left;">
							<p>About - We all are unique. Our memories, stories and philosophy make us who we are today</p>
						</div>
						
						<div style="text-align: left; padding-top: 25%; padding-left: 20%">
							<p>"I am not what happened to me,<br>I am what I choose to become."<br>Carl Jung</p>
						</div>
						
					</div>
					<div class="col-lg-5 tabel-line">
						<div>
							<img class="fit-img" src="img/smoking.jpg" style="padding-top: 45%;"></img>
						</div>

						<div style="text-align: left;">
							<p>Services - There is no such thing as coincidence. Everything happens for a reason and there is always a meaning</p>
						</div>
					</div>
				</div>

				<div class="row font-2" style="padding-bottom: 5%;">
					<div class="col-lg-12 tabel-line">
						<div align="left">
							<img class="fit-img" src="img/fish.jpg" style="padding-top: 5%;"></img>
						</div>

						<div style="text-align: left;">
							<p>Psychotherapy - Psychotherapy is art. We embrace whatever comes up from unconscious, both good and bad</p>							
						</div>
					</div>
				</div>
				
				<div class="row font-2">
					<div class="col-lg-5 tabel-line">
						<div>
							<img class="fit-img" src="img/contact.jpg" style="padding-top: 30%"></img>
						</div>
						<div style="text-align: left;">
							<p>Contact - Let's see where the universe will lead us to</p>
						</div>
					</div>

					<div class="col-lg-7 tabel-line">
						<div>
							<img class="fit-img" src="img/abc.jpg"></img>
						</div>
						<div style="text-align: left;">
							<p>Resources - We die when we stop being curious</p>
						</div>
					</div>
				</div>
				

				

				<div>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
				</div>

		</section>

		  <section id="section-b" class="section section-b">
			<div class="container">
				<h2>Section B</h2>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
			</div>

			<section class="scroll-down-button scroll-button-button-animation" ng-click="goToID('top')">
				<a href=""><span></span>Scroll</a>
			</section>
		  </section>
	</div>





    <script>
        //var video = document.getElementById("homeVideo");

    </script>

